CANVAS_API_KEY=
ZULIP_API_KEY=
PROF_EMAILS=example1@example.com,example2@example.com
TA_EMAILS=example1@example.com,example2@example.com
CANVAS_COURSE_ID=123456
ZULIP_SERVER_URL=https://xxx.zulipchat.com
ZULIP_EMAIL=xxx-bot@xxx.zulipchat.com
CANVAS_SERVER_URL=https://xxx.instructure.com/
GRADEBOOK_CSV=xxx.csv
